<main class="bg-light">
    <div class="container-fluid">
        <div class="col-xl-5 col-md-6">
            <!--Formulario-->
            <form method="post">
                <!--Para segurança -->
                {% csrf_token %}
                <div class="card border-0 px-sm-0 p-md-5 mt-3">
                    {% if mesages %}
                    {% for message in messages %}
                    {% if message.tags %}
                    <div class="alert alert-sucess" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="card-head bg-white border-0">
                        <h1 class="text-sucess text-center ">Contato</h1>
                    </div>


                </div>
            </form>
        </div>
    </div>
</main>